#repos-container{
	margin-left: 25%;
	margin-right: 25%;
	display:grid;
	grid-template-columns: 1fr 1fr ;
	grid-gap: 20px;
	grid-auto-rows: minmax(100px, auto); 
	grid-auto-columns: auto;
}

#repos-container > div{
	border:2px solid white;
	border-radius:10px;
}
#repos-container > div > H3{
	text-align:center;
	color: white;
}
#repos-container > div > p{
	text-align:center;
}
#repos-container > div > a{
	position: relative;
	display:block;
	text-align:center;
	bottom: 0;
}
#repos-container > div > a:link, a:visited{
	color:#ffffff;
}
#repos-container > div >  a:hover{
	color:#86c232;
}
