.hor-navbar{
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px); 
	position: sticky;
	position:position: -webkit-sticky;
	top: 0;
	text-align:center;
}
.hor-navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.hor-navbar  li{
    display: inline;
    font-size: 30px;
    margin: 10px;
}
.hor-navbar li a{
    color: #ffffff;
}
