html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Courier New', monospace;
	color:white;
	margin-left:20%;
	background-color:#222629;
	text-align:center;
}
.left-navbar{
	position:fixed;
	top:0;
	left:0;
	width:20%;
	background-color:#474b4f;
}

.left-navbar p{
	margin-left:5%;
	margin-right:5%;
}


.left-navbar  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #F4F4F8;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
.left-navbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.left-navbar li a:hover {
  background-color: #6b6e70;
  color: white;
}
.left-navbar .active {
  background-color: #04AA6D;
  color: black;
}
.left-navbar .propic  img{
	margin-top: 20px;
	height:auto;
	max-width:50%;
	border-radius:50%;
}
.left-navbar .propic{
	text-align:center;
}
div > H1{
	margin-left:20%;
	margin-right:20%;
}
div > p{
	margin-left:20%;
	margin-right:20%;
}
#projects #repos li{
	list-style-type:none;
	background-color: #F4F4F8;
	border-radius:25px;
	border-color: #1688f0;
	border-width:2px;
	border-style:solid;
	margin-left:25%;
	margin-right:25%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align:center;
	padding-bottom: 15px;
}

#projects #repos li H3{
	color: #1688f0;
}
#projects #repos li span{
	color: #151515;
}
#projects #repos li a{
	color: #1688f0;
	text-decoration:none;
}
#projects #repos li a.link-btn{
	padding: 10px 5px;
	border-width:2px;
	border-style:solid;
	border-color: #1688f0;
	border-radius:30px;
}

#projects #repos li a.link-btn:hover{
	background: #1688f0;;
	border: 2px solid #222629;
	transform: scale(1.1);
}

