body{
    margin: 0;
    background-color: #222629;
}
H1{
	text-align:left;
	margin-left: 25%;
	margin-word: 25%;
	color:white;
	font-size: 50px;
}

.propic >  img{
    border-radius: 50%;    
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:20%;
    height:20%;
} 
.short-bio{
    text-align: center; 
    margin-left: 25%;
    margin-right: 25%;
    background-color:#474b4f;
    border-radius:10px;
    color: white;
}
.short-bio > p{
	font-size: 30px;
}
.button{
    display: flex;
    justify-content: center;
    color: transparent;
    
}
a:link, a:visited{
    color: #ffffff;
    text-decoration: none;
}
.button > div:hover{
    text-decoration: underline;
}

.button > div{
    background-color: #86c232;
    width: 15%;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    border: 2px solid;
    border-radius: 10px;
    overflow: hidden;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social > div{
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    width: 100px;
    height: 100px
}

.section{
    justify-content: center;
    width: auto;
    color: #ffffff;
    margin-left: 25%;
    margin-right: 25%;
}
.section > H3{
	font-size: 40px;
}
.section > p{
	font-size: 25px;
	text-align:left;
}

.bio{
    font-size: 30px;
    text-align: center;
    justify-content: center;
    width: auto;
    color: #ffffff;
    background-color:#474b4f;
    border-radius:10px;
    margin-left: 10%;
    margin-right: 10%;
}






