@import 'tailwindcss';

@config '../tailwind.config.ts';

@media (prefers-color-scheme: white) {
  :root{
    --background: bg-gradient-to-br from-[#380036] to-[#0CBABA];
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: bg-gradient-to-br from-[#380036] to-[#0CBABA];
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
